/*
Overall fonts, colors & text
*/

.is-lighter {
  font-weight: 300;
}

.is-black {
  color: black;
}

.is-not-displayed {
  display: none;
}

.is-grey {
  color: #7a7a7a;
}

.is-opaque-75 {
  opacity: 0.25;
}

.is-italic {
  font-style: italic;
}

.has-no-wrap {
  white-space: nowrap;
}

.is-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-body ul {
  margin-top: 0;
}

/*
Sidebar menu
*/

.menu-list a {
  border-radius: 0.45rem;
}

.menu-list a.is-active,
.menu-list a.is-active:hover {
  color: black;
  background-color: gainsboro;
}

.menu-list a:hover {
  background-color: aliceblue;
}

/*
Report table
*/

.record-row-icon {
  display: table;
}

.record-row-icon > span,
.record-row-icon > span > img {
  vertical-align: middle;
  display: table-cell;
}

.record-row-icon > span > img {
  padding-right: 5px;
}

.record-icon {
  padding-right: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  height: 16px;
  width: 16px;
}

/*
Columns
*/

.is-fully-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-flex-1 {
  flex: 1;
}

.is-flex-start {
  align-self: flex-start;
}

/*
Logo
*/

.logo-desc {
  line-height: 1;
  padding-left: 0.35rem;
}
