/* 
Poor Man's Debug
*/
div {
  outline: solid 1px coral;
}

/*
Overall fonts, colors & text
*/

.is-light {
  font-weight: 100;
}

.is-black {
  color: black;
}

.is-italic {
  font-style: italic;
}

.has-no-wrap {
  white-space: nowrap;
}

.is-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
Sidebar menu
*/

.menu-list a.is-active {
  color: black;
  background-color: #f5f5f5;
}

.menu-list a:hover {
  background-color: aliceblue;
}

/*
Report table
*/

.record-row-icon {
  display: table;
}

.record-row-icon > span,
.record-row-icon > span > img {
  vertical-align: middle;
  display: table-cell;
}

.record-row-icon > span > img {
  padding-right: 5px;
}

.record-icon {
  background-repeat: no-repeat;
  background-size: 16px;
  height: 16px;
  width: 16px;
}

/*
Columns
*/

.is-fully-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-flex-1 {
  flex: 1;
}
